@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffede1;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  border: 3px solid black;
}

.avatar-l {
  width: 200px;
  border-radius: 50%;
  border: 3px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  height: 78vh;
  width: 80vw;
  background-color: #ffffff;
  border-radius: 10px;
}

.left {
  margin: 40px 50px;
}

.txt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 39px;
  margin-bottom: 1.5rem;
}

.col1 {
  margin-right: 150px;
}

h4 {
  margin: 0;
}

.btn {
  height: 2rem;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  margin: 40px 50px;
  display: flex;
  flex-direction: row;
}

.footer {
  margin-top: 300px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #341D30;
}

.contact-us {
  color: #FFEDE1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-textbox {
  background-color: #FFEDE1;
}